{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" >

 <style>
     h1{
         background: #E9EFF6;
         color: black;
         padding: 2px;
     }
  body { background: url("https://celes.club/uploads/posts/2022-05/1652979561_1-celes-club-p-luchshie-foni-dlya-prezentatsii-krasivie-1.jpg"); }
</style>

</head>
<body>
{% include 'header.html' %}
<center>
    <h1 class="color_white">Список товаров</h1>
<br><br>
{% for i in car_object %}
<div class="card" style="width: 20rem;">
  <img src="{{i.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.title}}</h5>
    <p class="card-text">{{i.description}}</p>
    <a href="/car_list/{{i.id}}" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<hr>
<hr>
{% endfor %}
</center>


{% include 'footer.html' %}
</body>
</html>


