{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Detail</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body class="bg">
{% include 'header.html' %}


<div class="container">
    <div class="post">
        <div class="post-image">
            <center>
            <img src="{{car_detail.image.url}}">
            </center>
        </div>
        <div class="post-content">
            <div class="post-header">
                <h1>{{car_detail.title}}</h1>
                <div class="post-meta">
                    <time datetime="2019-04-01">{{car_detail.cost}}</time>
                    <span class="author">{{car_detail.CAR_TYPE}}</span>
                    <span class="category">{{car_detail.created_date}}</span>
                     <br>
                    <br>
                    <button type="button" class="btn btn-outline-info"><a href="/car_list/" style="text-decoration: none; color: blue">На список автомобилей</a></button>


            <button><a href="/car_list/{{car_detail.id}}/update">Редактировать</a> </button>
            <button><a href="/car_list/{{car_detail.id}}/delete">Удалить </a> </button>

                </div>
            </div>
              <p>{{car_detail.description}}
            </p>
        </div>
    </div>
</div>



 <center>
    <table border="5">
           <tr>
                <td><iframe src="{{car_detail.video}}" frameborder="0" width="640" height="420"></iframe></td>
           </tr>
    </table>
 </center>


{% include 'footer.html' %}
</body>
</html>






