{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
             <center>
            <ul class="list-inline">

                <li class="list-inline-item"><a href="#">Mercedes-Benz</a></li>
                <li class="list-inline-item"><a href="#">Tesla</a></li>
                <li class="list-inline-item"><a href="#">Audi</a></li>
                <li class="list-inline-item"><a href="#">Hyundai</a></li>
                <li class="list-inline-item"><a href="#">Porsche Panamera</a></li>
            </ul>

            <p class="copyright">GEEKS© 2023</p>
            </center>
        </footer>
    </div>




